@tailwind base;
@tailwind components;
@tailwind utilities;
.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#000814, #000814);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#000814, #000814);
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}
